<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Listar Activos</h2>
  </div>
  <div class="panel-body" style="width: 100%;">
    <table class="table table-striped" style="width: 100%;">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Serial</th>
          <th>Numero Inventario</th>
          <th>Valor Compra</th>
          <th>Fecha Compra</th>
          <th>Fecha Baja</th>
          <th>Eventos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asset of assets | async">
          <td>{{asset.id}}</td>
          <td>{{asset.name}}</td>
          <td>{{asset.serial}}</td>
          <td>{{asset.numberInventory}}</td>
          <td>{{asset.purchaseValue}}</td>
          <td>{{asset.purchaseDate}}</td>
          <td>{{asset.retirementDate}}</td>
          <td style="width: 100%;">
            <button (click)="deleteAsset(asset.id)" class="btn btn-danger">Delete</button>
            <button (click)="updateAsset(asset.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
            <button (click)="assetDetails(asset.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
