<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="persons" class="nav-link" routerLinkActive="active">Listar Personas</a>
    </li>
    <li class="nav-item">
      <a routerLink="addPerson" class="nav-link" routerLinkActive="active">Registrar Persona</a>
    </li>
    <li class="nav-item">
      <a routerLink="areas" class="nav-link" routerLinkActive="active">Listar Areas</a>
    </li>
    <li class="nav-item">
      <a routerLink="addArea" class="nav-link" routerLinkActive="active">Registrar Area</a>
    </li>
    <li class="nav-item">
      <a routerLink="assets" class="nav-link" routerLinkActive="active">Listar Activos</a>
    </li>
    <li class="nav-item">
      <a routerLink="addAsset" class="nav-link" routerLinkActive="active">Registrar Activo</a>
    </li>
    <li class="nav-item">
      <a routerLink="loans" class="nav-link" routerLinkActive="active">Listar Prestamos</a>
    </li>
    <li class="nav-item">
      <a routerLink="addLoan" class="nav-link" routerLinkActive="active">Registrar Prestamo</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2019 @JavaGuides</span>
  </div>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
