<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Listar Areas</h2>
  </div>
  <div class="panel-body" style="width: 100%;">
    <table class="table table-striped" style="width: 100%;">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Ciudad</th>
          <th>Direccion</th>
          <th>Evento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let area of areas | async">
          <td>{{area.id}}</td>
          <td>{{area.name}}</td>
          <td>{{area.city}}</td>
          <td>{{area.address}}</td>
          <td style="width: 100%;">
            <button (click)="deleteArea(area.id)" class="btn btn-danger">Delete</button>
            <button (click)="updateArea(area.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
            <button (click)="areaDetails(area.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
